// .mat-dialog-container {
//     border-radius: 10px !important;
//     box-shadow: none !important;
//     background: transparent !important;
// }


.custom-dialog-title {
    margin: -24px -24px 0 !important;
    background-color: #0312c4 !important;
    color: #fff !important;
    padding: 12px 20px 8px !important;
}

.custom-dialog-content {
    overflow: auto !important;
    padding: 24px 24px 12px !important;
    background-color: white !important;
}

.custom-dialog-actions {
    margin: 1px -24px -24px !important;
    display: flex !important;
    padding: 6px 12px !important;
    justify-content: flex-end !important;
    box-shadow: 0 -1px #e2e8f0 !important;
    background-color: white !important;
}