<div mat-dialog-title class="">
    <span class="text-xl font-bold">Update Framework</span>
</div>
<mat-dialog-content class="bg-white overflow-auto">
    
    <form [formGroup]="data">
        <mat-form-field appearance="outline" class="w-full relative" floatLabel="always">
            <mat-icon class="icon-size-5 absolute left-0 opacity-50" svgIcon="mat_outline:article"></mat-icon>
            <mat-label>Name</mat-label>
            <input class="placeholder:text-opacity-12 pl-8" [formControlName]="'name'" matInput type="text" placeholder="ex. Nestjs">
            <mat-error class="min-h-6 text-sm">
                Name is required
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full relative" floatLabel="always">
            <mat-icon class="icon-size-5 absolute left-0 opacity-50" svgIcon="mat_outline:article"></mat-icon>
            <mat-label>Language</mat-label>
            <input class="placeholder:text-opacity-12 pl-8" [formControlName]="'language'" matInput type="text" placeholder="ex. Typescript">
            <mat-error class="min-h-6 text-sm">
                Language is required
            </mat-error>
        </mat-form-field>
        <div class="w-full p-4 pb-0 rounded-lg flex justify-center items-center relative border border-dashed hover:border-green-700">
            <app-portrait [src]="src" (srcChange)="srcChange($event)" [mode]="'UPLOAD'" [title]="'Upload New Photo'"></app-portrait>
        </div>

    </form>
</mat-dialog-content>
<mat-dialog-actions align="center" class="custom-dialog-actions">
    <button class="min-w-8 max-w-8 rounded-md custom-button" mat-flat-button [disabled]="data.invalid" (click)="submit(item)">
        <mat-icon *ngIf="!data.disabled" class="icon-size-6 text-white" svgIcon="mat_solid:save"></mat-icon>
        <mat-progress-spinner *ngIf="data.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
    </button>
    <button class="min-w-8 max-w-8 rounded-md" mat-flat-button [mat-dialog-close]="false" color="warn">
        <mat-icon class="icon-size-6 text-white" [svgIcon]="'heroicons_solid:x'"></mat-icon>
    </button>
</mat-dialog-actions>