.create-user-section {
    width: 100%;
    height: calc(100dvh - 4.875rem);
    overflow: hidden;

    .create-user-body {
        width: 100%;
        height: calc(100dvh - 8.625rem);
        overflow: auto;
    }
}

::placeholder {
    color: rgb(100 116 139) !important;
}

::-ms-input-placeholder {
    color: rgb(100 116 139) !important;
}

.custom-shadow {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
}

.box-shadow {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(240, 240, 240, 0.3);
}